@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 9px;
  font-family: 'Poppins', sans-serif;
  
  background-image:url(image/flowers.jpg);
}
.container{
  color: rgb(20, 70, 235);
  max-width: 900px;
  background:linear-gradient(100deg,rgb(223, 236, 240),rgb(250, 234, 220));
  width: 900px;
  padding: 25px 40px 10px 40px;
  border: 1px solid rgba(255,255,255,0.5);
  background: rgba(255,255,255,0.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.container .text{
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-align: left;
  font-size: 14px;
  font-weight: 60;
  font-family: 'Poppins', sans-serif;
  
}
.topnav {
    background-color:rgba(255,255,255,0.5);
    overflow: hidden;
  }
  
 
  .topnav a {
    float: left;
    color: #1e0ce2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(243, 46, 46);
  }
  

  .topnav a.active {
    background-color: #1833e5;
    color: white;
  }
  .sec1{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: flex-end;

    
  }
  .btn{
    
    border: 0.1px solid black;
    border-radius: 6px;
    background-color: #2f2ce0;
    padding: 3px 14px;
    margin: 0.4%;
    color: aliceblue;
    text-decoration: none;
    font-style: oblique italic;
    font-weight: 600;
    font-size: medium;

  }
  .btn:hover{
    background-color: #ddd;
    color: rgb(243, 46, 46);
  }
  #cu{
    display: flex;
    justify-content: flex-end;
    padding:0.2%;
    
  }
  #cu section{
    padding: 2px;
    margin: 1px;}
  
    table,th,tr{
        border: #1833e5;
        border: 1px solid;
        
    }